<%= form_for([:admin, @store, @field]) do |f| %>
    <div class="form_fields">
      <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.label :content_type %>
        <%= f.collection_select :content_type, Field.types, :downcase, :downcase %>
      </div>
      <div>
        <%=  label_tag("Select categories:") %> <hr/>
          <% @store.categories.each do |cat| %>
            <%= check_box_tag "categories["+cat.id.to_s+"]", 1, @field.categories.include?(cat) %><%= label_tag(cat.name) %><br/>
        <% end %>
      <hr/>
      </div>

      <div>
        <%= f.submit %>
      </div>
    </div>
    <span class="error_messages"><%= render 'shared/error_messages', :object => f.object %></span>
<% end %>
