<%= render 'stores/stores/store_menu'%>


<div class="product_box">
  <%= image_tag @product.photo.url(:small), :class => "float_l product_image" %>
  <table border="3">
    <tr>
      <td colspan="2">
        <h3><%= @product.title %></h3>
      </td>
    </tr>
    <tr>
      <td>
        Category:
      </td>
      <td>
        <%= @product.category.name %>
      </td>
    </tr>


    </table>
    <%= image_tag @product.photo.url(:small), :class => "float_l product_image" %>
    <h3><%= @product.title %></h3>
    <div class="product_desc"><%= @product.description %></div>
    <div class="product_price"><%= number_to_currency(@product.price) %></div>
    <%= button_to "Add to Cart", line_items_path(product_id: @product)%>
</div>