<div id="ide_windows">
  <div id="editor_header">

    <div id="new_assets_window">
      <div id="new_asset_title" title="New file"></div>
    </div>
    <div id="new_assets_tabs">
            <div id="create_assets_tab" class="new_assets_tab active_tab">Create</div>
            <div id="upload_assets_tab" class="new_assets_tab">Upload</div>
            <div class="cleaner"></div>
            <div id="upload_assets_window" style="display:none;">
              <%= form_for([:admin, @store, @asset], :remote => true, :html => {:multipart => true}) do |f| %>
                <%= f.file_field :file, :multiple => true %>
                <%= f.submit "Upload", :name => "upload", :style => "display: none;"%>
                <div id="uploaded_assets_list"></div>
              <% end %>
            </div>
            <div id="create_assets_window">
              <%= form_for([:admin, @store, @asset], :remote => true) do |f| %>
                <%= f.text_field :name, :placeholder => "Type name here" %>
                <%= f.select :ext, %w(html erb js css) %>
                <%= f.submit "Create", :name => "create"%>
              <% end %>
            </div>
          </div>
    <div id="managing_assets">
      <div id="managing_assets_title"></div>
    </div>
    <div id="managing_assets_window">
      <div id="managing_assets_header">
        <div class="w33"></div>
        <div style="width: 66%;">
          <div style="width: 35%;" class="float_l">Name</div>
          <div style="width: 35%;" class="float_l">Size</div>
          <div style="width: 15%;" class="float_l">Active</div>
          <div style="width: 15%;" class="float_l"><input type="checkbox" id="selected_all_assets" title="Select all"></div>
        </div>
      </div>
      <div id="managing_assets_body">
        <div class="w33" id="asset_options">
          <div id="asset_detail"></div>
          <div id="selected_assets"></div>
          <div id="storage_usage"><h3 class="center">Storage usage</h3></div>
        </div>
        <div class="w67 float_l" id="asset_list">
          <% @assets.each do |asset|%>
            <div class="managing_assets_row" id="managing_asset_<%= asset.id %>">
              <div class="asset_row_name"><%= asset.file_file_name %></div>
              <div class="asset_row_size"><%= to_storage asset.file_file_size %></div>
              <div class="asset_row_active">
                <% if asset.active %>
                  <input type="checkbox" class="toggle_active" checked="checked">
                <% else %>
                  <input type="checkbox" class="toggle_active">
                <% end %>
              </div>
              <div class="asset_row_selected"><input type="checkbox" class="selected"></div>
            </div>
            <script>
              assets["<%= asset.id %>"] = {
                name:"<%= asset.file_file_name%>",
                size:"<%= to_storage asset.file_file_size%>",
                content_type:"<%= asset.file_content_type%>",
                created_at:"<%= asset.created_at%>",
                updated_at:"<%= asset.updated_at%>",
                active:"<%= asset.active%>"
              }
            </script>
          <% end %>
        </div>
      </div>
    </div>

    <span id="editor_title">No files are open</span>
    <div id="full_screen_icon" class="editor_icon float_r" title="Full screen"></div>
    <div id="help_window_icon" class="editor_icon right_window_opener float_r" title="Help"></div>
    <div id="settings_window_icon" class="editor_icon right_window_opener float_r" title="Settings"></div>
    <div id="arrow_redo_icon" class="editor_icon float_r" title="Redo"></div>
    <div id="arrow_undo_icon" class="editor_icon float_r" title="Undo"></div>
  </div>
  <div id="assets_menu">
    <div class="assets_box" id="htmls">
      <div class="assets_box_title">Pages</div>
      <div class="asset_items">
        <%if @htmls.length != 0%>
          <% @htmls.each do |html| %>
            <%= link_to_function html.file_file_name, "loadAsset(#{@store.id}, #{html.id})", :class => "asset_item", :id => "asset_#{html.id}" %>
          <% end %>
        <% else %>
          <div class="no_assets">No Pages found</div>
        <% end %>
      </div>
    </div>
    <div class="assets_box" id="javascripts">
      <div class="assets_box_title">Javascripts</div>
      <div class="asset_items">
        <%if @javascripts.length != 0%>
          <% @javascripts.each do |javascript| %>
            <%= link_to_function javascript.file_file_name, "loadAsset(#{@store.id}, #{javascript.id})", :class => "asset_item", :id => "asset_#{javascript.id}" %>
          <% end %>
        <% else %>
          <div class="no_assets">No JS files</div>
        <% end %>
      </div>
    </div>
    <div class="assets_box" id="stylesheets">
      <div class="assets_box_title">Stylesheets</div>
      <div class="asset_items">
        <%if @stylesheets.length != 0%>
          <% @stylesheets.each do |stylesheet| %>
            <%= link_to_function stylesheet.file_file_name, "loadAsset(#{@store.id}, #{stylesheet.id})", :class => "asset_item", :id => "asset_#{stylesheet.id}" %>
          <% end %>
        <% else %>
          <div class="no_assets">No CSS files</div>
        <% end %>
      </div>
    </div>
    <div class="assets_box" id="images">
      <div class="assets_box_title">Images</div>
      <div class="asset_items">
        <%if @images.length != 0%>
          <% @images.each do |image| %>
            <div class="asset_item" id="asset_<%= image.id %>" title="<%= 9**9 %>">
              <%= image.file_file_name %>
            </div>
          <% end %>
        <% else %>
          <div class="no_assets">No images</div>
        <% end %>
      </div>
    </div>
    <div class="cleaner"></div>
  </div>
  <div id="assets_ide">
    <div id="editor_right_menu">
      <div id="right_editor_menu_close"></div>
      <div id="help_window" class="editor_right_window">
        <h3>Hotkeys</h3>
        <span class="hotkeys">Ctrl-S</span> - Quick save<br>
        <span class="hotkeys">Ctrl-Z</span> - Undo<br>
        <span class="hotkeys">Shift-Ctrl-Z</span> - Redo<br>
        <span class="hotkeys">Ctrl-F</span> - Start searching<br>
        <span class="hotkeys">Ctrl-G</span> - Find next<br>
        <span class="hotkeys">Shift-Ctrl-G</span> - Find previous<br>
        <span class="hotkeys">Shift-Ctrl-F</span> - Replace<br>
        <span class="hotkeys">Shift-Ctrl-R</span> - Replace all<br>
        <span class="hotkeys">F11</span> - Toggle full screen<br>
        <span class="hotkeys">Esc</span> - Exit full screen<br>
      </div>
      <div id="settings_window" class="editor_right_window">
        <span class="title">Select a theme:</span>
        <select id="select_theme">
          <option value="default">default</option>
          <option value="ambiance">ambiance</option>
          <option value="blackboard">blackboard</option>
          <option value="cobalt">cobalt</option>
          <option value="eclipse">eclipse</option>
          <option value="elegant">elegant</option>
          <option value="erlang-dark">erlang-dark</option>
          <option value="lesser-dark">lesser-dark</option>
          <option value="monokai">monokai</option>
          <option value="neat">neat</option>
          <option value="night">night</option>
          <option value="rubyblue">rubyblue</option>
          <option value="twilight">twilight</option>
          <option value="vibrant-ink">vibrant-ink</option>
          <option value="xq-dark">xq-dark</option>
        </select><br>
        <span class="title">Line numbers:</span> <input type="checkbox" id="editor_toggle_ln"><br>
        <span class="title">Font size:</span> <input type="range" min="9" max="15" value="10" id="editor_font_size"><br>
      </div>
    </div>
    <div id="empty_editor">
      Click file on the left menu to start editing.<br>
      You can create new file or upload multiple files from your PC.<br>
      You can also accept a different options in settings menu.<br>
      <br>
      Follow <%= link_to "this link", documentation_editor_path, :target => "_blank"%>, You can read documentation for this editor.
    </div>
  </div>
  <div class='cleaner'></div>

  <div id='editor_footer'>
    <div class='button green float_r' id='editor_save_all' title="Save all"><span></span></div>
    <div class='button grey float_r' id='editor_quick_save' title="Quick save"><span></span></div>
    <div id='message' class='float_r'></div>
    <div id='editor_autoformat' class='button grey' title="Autoformat"><span></span></div>
  </div>
</div>

<script>
  theme = "<%= @editor_theme %>";
  ln = "<%= @editor_ln %>";
  font_size = "<%= @editor_font_size %>";
  accepted_content_types = j.parseJSON('<%= accepted_content_types %>');
  store = "<%= @store.id %>"
</script>
