<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @store.name %>
</p>

<p>
  <b>Domain:</b>
  <%= @store.domain %>
</p>

<p>
  <b>Owner:</b>
  <%= @store.owner_id %>
</p>


<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
