<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= render 'layouts/admin/header'%>
  <div id="main">
    <%= render 'layouts/admin/menu' if signed_in?%>
    <div id="content">
      <%= render 'shared/flash_messages'%>
      <%= yield  %>
    </div>
  </div>
  <div id="footer" class="cleaner"><%= render 'layouts/admin/footer' %></div>
  <%= render 'layouts/admin/styles_&_scripts' %>
</body>
<%= debug params %>
</html>