<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%= csrf_meta_tag %>
</head>
<body>
<%= render 'layouts/store/header'%>
  <div id="main">
    <div id="content">
      <%= render 'shared/flash_messages'%>
      <%= yield  %>
    </div>
  </div>
  <div id="footer" class="cleaner"><%= render 'layouts/store/footer' %></div>
  <%= render 'layouts/store/styles_&_scripts' %>
</body>
</html>