<%= form_for(@order) do |f| %>
  <%= (hidden_field_tag :store, @store.id) if @store%>
  <div class="form_fields">
    <div>
      <%= f.label :name %>
      <%= f.text_field :name, size: 30 %>
    </div>
    <div>
      <%= f.label :address %>
      <%= f.text_area :address, rows: 6 %>
    </div>
    <div>
      <%= f.label :email %>
      <%= f.text_field :email, size: 30 %>
    </div>
    <div>
      <%= f.submit  "Place order"%>
    </div>
  </div>
  <span class="error_messages"><%= render 'shared/error_messages', :object => f.object %></span>
<% end %>