<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Welcome to shopup</title>
    <%= stylesheet_link_tag :all, :media => 'screen' %><!-- need refactor -->
    </head>
    <body>
    <table>
      <tr>
        <td>Name</td>
        <td><%= @user.first_name %></td>
      </tr>
      <tr>
        <td>Mail</td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td>Pass</td>
        <td><%= @user.password %></td>
      </tr>
      <tr>
        <td>ConfirmationLink</td>
        <td><a href="http://www.shopup.com/join_confirm?activation_code=<%= @user.join_confirmation.activation_code %>">Confirmation Link</a></td>
      </tr>
    </table>
    </body>
</html>