<% # -*- coding: utf-8 -*-  %>
<%= form_for([:admin, @store, @product], :html => {:multipart => true}) do |f| %>
  <div class="form_fields">
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <div>
      <%= f.label :price %>
      <%= f.text_field :price %>
    </div>
    <div>
      <%= f.label :photo %>
      <%= f.file_field :photo %>
    </div>
    <% if @categories %>
        <div>
          <%= f.label :category %>
          <%= f.collection_select :category_id, @categories, :id, :name, {:include_blank => true}%>
        </div>
    <% end %>

    <div id="container"></div>
    <div>
      <br>
      <%= f.submit %>
    </div>
  </div>
  <span class="error_messages"><%= render 'shared/error_messages', :object => f.object %></span>
<% end %>
                   <% params[:utf8] = "" %>
<%= params[:fields]%>
<script type="text/javascript">
    j(document).ready(function(){
        j("#product_category_id").change(function(){
            if(j(this).val() != ""){
                j.ajax({
                    url: "<%= dynamic_fields_for_category_url(@store)%>",
                    data: {category_id: j(this).val(), product_id: <%= @product.id || "0"%>},
                    type: 'GET',
                    beforeSend: function () {
                    },
                    complete: function(){
                    },
                    error: function(err){
                        alert("error");
                    },
                    success: function(data){
                        j("#container").html(data);
                    }
                });
            }
        });
        j("#product_category_id").trigger('change');
    });
</script>