<%= form_for([:admin, @store, @product], :html => {:multipart => true}) do |f| %>
  <div class="form_fields">
    <div>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </div>
    <div>
      <%= f.label :price %><br />
      <%= f.text_field :price %>
    </div>
    <div>
      <%= f.label :photo %><br />
      <%= f.file_field :photo %>
    </div>
    <% if @categories %>
      <div>
        <%= f.label :category %><br />
        <%= f.collection_select :category_id, @categories, :id, :name %>
      </div>
    <% end %>
    <div>
      <br/>
      <%= f.submit %>
    </div>
  </div>
  <span class="error_messages"><%= render 'shared/error_messages', :object => f.object %></span>
<% end %>
