<%= render 'admin/stores/store_managing_menu'%>

All Products <%= link_to '+', new_admin_store_product_path, :class => "float_r add_item" %><hr>

<% @categories.each do |cat| %>
    <% if !cat.products.blank? %>
        <%=  cat.name %><hr class="cleaner">
        <% cat.products.each do |product| %>
            <%= image_tag product.photo.url(:small), :class => "float_l product_image" %>
            <div><%= product.title %></div>
            <div>Product Description: <%= product.description %></div>
            <div>Price: <%= product.price %></div>
            <div>Categoty: <%= product.category.name %></div>

            <% cat.fields.each do |field|%>
                <%=  field.title %>:
                <br/>
            <% end %>

            <%= link_to '[ ]', edit_admin_store_product_path(@store, product), :class => "float_r edit_item" %>
            <%= link_to '-', admin_store_product_path(@store, product), confirm: 'Are you sure?', :method=> :delete, :class => "float_r remove_item" %>
            <hr class="cleaner">
        <% end %>
        <hr style="border-color: red"/>
    <% end %>
<% end %>

