All Products
<div class="float_r">

  <%= collection_select "category", nil, @categories, :id, :name, {:include_blank => "All"} %>
  <input type="text" id="search" />
  <%= link_to '+', new_admin_store_product_path, :class => "add_item" %>
</div>
<br/><br/>

<div id="products">
  <%= render :partial => 'product_holder', :locals => { :products => @products }%>
</div>

<% @products.count.times do |page| %>
  <%= page %>
<% end %>

<script>
  j(document).ready(function(){
      j("#search").keyup(function(){
          refresh_search_results();
      });
      j("#category_").change(function(){
          refresh_search_results();
      });
      function refresh_search_results(){
          keyword = j("#search").val();
          category = j("#category_").val();
          j.ajax({
              url: "<%= admin_store_products_path(@store) %>",
              type: 'GET',
              data: {q : keyword, category_id : category},
              beforeSend: function () {
              },
              complete: function(){
              },
              error: function(err){
                  alert("error");
              },
              success: function(data){
                  j("#products").html(data);
              }
          });
      }
  });


</script>




