All Products
<div class="float_r">

  <%= collection_select "category", nil, @categories, :id, :name, {:include_blank => "All"} %>
  <input type="text" id="search" />
  <%= link_to '+', new_admin_store_product_path, :class => "add_item" %>
</div>
<br/><br/>

<div id="products">
  <%= render :partial => 'product_holder', :locals => { :products => @products }%>
</div>

<div class="pagination">
  <% @pages_count.times do |page| %>
    <a href="#" page="<%= page + 1 %>" class="<%= (@current_page == (page + 1).to_s)?"current":"" %>" onclick="go_to_page(this, <%= page + 1%>);">
      <%= page + 1 %>
    </a>
  <% end %>
</div>






