<%= render 'stores/store_managing_menu'%>

All Products <%= link_to '+', new_store_product_path, :class => "float_r add_item" %><hr>

<% @products.each do |product| %>
  <%= image_tag product.photo.url(:small), :class => "float_l product_image" %>
  <div class="product_title"><%= product.title %></div>
  <div class="product_desc"><%= product.description %></div>
    <div class="product_price"><%= product.price %></div>
    <div><%= product.category.name %></div>
  <%= link_to '[ ]', edit_store_product_path(@store, product), :class => "float_r edit_item" %>
  <%= link_to '-', store_product_path(@store, product), confirm: 'Are you sure?', :method=> :delete, :class => "float_r remove_item" %>
  <hr class="cleaner">
<% end %>

