<div id="header">
  <% if signed_in?%>
    <div class="float_l">
      <% if current_user.stores.count == 0%>
        <%= link_to "Create your first store now!", new_admin_store_path, :id => "first_store" %>
      <% else %>
        <%= link_to "", "#", :id => "stores_list_toggler"%>
      <% end %>
    </div>
  <% end %>

  <div class="float_r">
    <%= link_to "", root_path, :id => "header_home", :title => t(:Home) %>
    <%= link_to "", help_path, :id => "header_help", :title => t(:Help) %>
    <%= link_to "", carts_path, :id => "header_cart", :title => t(:cart) %>
    <% if signed_in?%>
      <%= link_to "", profile_path, :id => "header_profile", :title => "Profile" %>
      <%= link_to "", signout_path, :method => :delete, :id => "header_sign_out", :title => t(:Sign_out) %>
    <% else %>
      <%= link_to_function "", "toggleSigninWindow()", :id => "signin_window_toggler", :title=> t('Sign_in')%>
      <%= link_to "", signup_path, :id => "header_sign_up", :title => t('Sign_up') %>
    <% end %>
  </div>
</div>
<% if signed_in?%>
  <div id="stores_list">
    <% current_user.stores.each do |store| %>
      <%= link_to store.name, admin_store_path(store), :id =>
          ("active_store" if store.id.to_s == (params[:store_id] ? params[:store_id] : params[:id])) %>
    <% end %>
    <%= link_to "Create new store", new_admin_store_path, :id => "new_store" %>
  </div>
<% end %>