<div id="header">
  <% if signed_in?%>
    <div class="float_l">
      <%= link_to "+", new_admin_store_path if current_user.stores.count  != 0%>
      <% current_user.stores.each do |store| %>
        <%= link_to store.name, admin_store_path(store) %>
      <% end %>
    </div>
  <% end %>

  <div class="float_r">
    <%= link_to t('Home'), root_path %>
    <%= link_to t('Help'), help_path %>
    <%= link_to "Cart", carts_path %>
    <% if signed_in?%>
      <%= link_to t('Profile'), profile_path %>
      <%= link_to t('Sign_out'), signout_path, :method => :delete %>
    <% else %>
      <%= link_to_function t('Sign_in'), "toggleSigninWindow()", :id => "sign_in"%>
      <%= link_to t('Sign_up'), signup_path %>
    <% end %>
  </div>
</div>


