<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header"><%= render 'layouts/header'%></div>
  <div id="main">
    <div id="sidebar"><%= render 'layouts/sidebar' %></div>
    <div id="content">
      <%= render 'shared/flash_messages'%>
      <%= yield %>
    </div>
  </div>
  <div id="footer" class="cleaner"><%= render 'layouts/footer' %></div>
  <%= render 'layouts/styles_&_scripts' %>
</body>
</html>